<ul class="dropdown__child">
  {% for child_link in link.links %}
    <li>
      {% if child_link.links != blank %}
        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
        <ul class="dropdown__grand">
          {% for grand_link in child_link.links %}
            <li>
              <a href="{{ grand_link.url }}">{{ grand_link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
