<div class="mbl__drawer lg-hide glass__bg-full">
  <div class="mbl__drawer-wrapper">
    <div class="mbl__drawer-header">
      <div class="mbl__drawer-header-inner">
        <a class="mbl__header-logo" site-logo href="/">
          {% unless logo %}
            <h2>ZERO</h2>
          {% else %}
            <picture>
              <source media="(min-width: 744px)" srcset="{{ logo | image_url: width: logo_width }}">
              {{ logo | image_url: width: logo_width_m | image_tag: class: 'regular__logo', loading: 'lazy' }}
            </picture>
          {% endunless %}
        </a>
        <button mbl-drawer-close>{% render 'header-icons', name: 'close' %}</button>
      </div>
    </div>
    <div class="mbl__drawer-contents">
      <div class="mbl__nav">
        <div class="mbl__nav-wrapper">
          <nav class="mbl__menu">
            <div class="menu__wrapper menu__wrapper-parent">
              <div class="menu__inner">
                <ul>
                  {% for link in section.settings.menu.links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                      {%- if link.links != blank -%}
                        <button class="open-submenu" data-trigger="{{ link.title | handleize }}">
                          {% render 'all-icons', name: 'link' %}
                        </button>
                      {%- endif -%}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% for link in section.settings.menu.links %}
              {%- if link.links != blank -%}
                <div data-drawer="{{ link.title | handleize }}" class="menu__wrapper menu__wrapper-child">
                  <button class="back-button child__back">
                    {% render 'all-icons', name: 'link' %}
                    <span>{{ link.title }}</span>
                  </button>
                  <div class="menu__inner">
                    <ul>
                      {% for child in link.links %}
                        <li>
                          <a href="{{ child.url }}">{{ child.title }}</a>
                          {%- if child.links != blank -%}
                            <button class="open-submenu" data-trigger="{{ child.title | handleize }}">
                              {% render 'all-icons', name: 'link' %}
                            </button>
                          {%- endif -%}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            {% for link in section.settings.menu.links %}
              {% for child in link.links %}
                {%- if child.links != blank -%}
                  <div data-drawer="{{ child.title | handleize }}" class="menu__wrapper menu__wrapper-grand">
                    <button class="back-button grand__child-back">
                      {% render 'all-icons', name: 'link' %}
                      <span>{{ link.title }} / {{ child.title }}</span>
                    </button>
                    <div class="menu__inner">
                      <ul>
                        {% for grand_child in child.links %}
                          <li>
                            <a href="{{ grand_child.url }}">{{ grand_child.title }}</a>
                            {%- if grand_child.links != blank -%}
                              <button class="open-submenu">
                                {% render 'all-icons', name: 'link' %}
                              </button>
                            {%- endif -%}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </nav>
        </div>
      </div>
      <div class="drawer__utilities">
        <div class="drawer__utilities-wrapper">
          <div class="mbl__currency">
            <button type="button" class="mbl-currency-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12ZM4 10h12"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M10 4a9.18 9.18 0 0 1 2.4 6 9.18 9.18 0 0 1-2.4 6 9.18 9.18 0 0 1-2.4-6c.05-2.22.9-4.36 2.4-6v0Z"></path>
              </svg>
              <span class="mbl-currency-text">
                {{ localization.country.name }}
                <span>({{ localization.country.currency.iso_code }})</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mbl__currency-selector">
      <div class="mbl__currency-inner">
        <div class="currency__back-btn">
          <button currency-back-button>{% render 'all-icons', name: 'link' %} Select Country</button>
        </div>
        <div class="mbl__currency-wrapper">
          {%- form 'localization', id: 'LocalizationForm', class: 'country-selector-form' -%}
            <div class="currency-selector">
              <ul class="currency-list">
                {%- for country in localization.available_countries -%}
                  <li
                    data-value="{{ country.iso_code }}"
                    data-currency="{{ country.currency.iso_code }}"
                    data-symbol="{{ country.currency.symbol }}"
                    data-country="{{ country.name }}"
                  >
                    <span class="country-currency">
                      {{- country.name -}}
                      <span>({{ country.currency.iso_code }})</span>
                    </span>
                  </li>
                {%- endfor -%}
              </ul>

              <input
                type="hidden"
                name="country_code"
                class="selected-country-code"
                value="{{ localization.country.iso_code }}"
              >
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
