{% comment %}
    Price snippet:
    - Shows Compare at Price and Regular Price if Compare at Price > Regular Price
    - Otherwise shows Regular Price

{% endcomment %}
  <div
    class="price-wrapper"
    data-product-id="{{ card_variant.id }}"
    data-variant-id="{{ card_variant.id }}"
  >
    <span class="price-regular">
      {% if card_variant.compare_at_price
          > card_variant.price
      %}
        <span class="price-sale">{{ card_variant.price | money }}</span>
        <span class="price-compare-at">{{ card_variant.compare_at_price | money }}</span>
      {% else %}
        <span class="price-standard">{{ card_variant.price | money }}</span>
      {% endif %}
    </span>
  </div>

{% comment %}
<div
  class="price-wrapper"
  data-product-id="{{ product.id }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
  {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
  %}
    <span class="price price--on-sale">
      <span class="visually-hidden">Regular price</span>
      <span class="price__sale">{{ product.selected_or_first_available_variant.price | money }}</span>
      <span class="visually-hidden">Sale price</span>
      <span class="price__compare">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
    </span>
  {% else %}
    <span class="price">
      <span class="price__regular">{{ product.selected_or_first_available_variant.price | money }}</span>
    </span>
  {% endif %}
</div>
{% endcomment %}