<div class="mbl__drawer lg-hide glass__bg-full">
  <div class="mbl__drawer-wrapper">
    <div class="mbl__drawer-close">
      <button mbl-drawer-close>{% render 'header-icons', name: 'close' %}</button>
    </div>
    <div class="mbl__nav">
      <div class="mbl__nav-wrapper">
        <nav class="mbl__menu">
          <ul class="menu__parent">
            {% for link in section.settings.menu.links %}
              <li class="menu__item {% if child.links != blank %}has__child{% endif %}">
                <div class="menu__link">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {%- if link.links != blank -%}
                    <button class="open-submenu" data-title="{{ link.title }}">
                      {% render 'all-icons', name: 'link' %}
                    </button>
                  {%- endif -%}
                </div>
                {%- if link.links != blank -%}
                  <div class="submenu glass__bg-full">
                    <button class="back-button child__back">
                      {% render 'all-icons', name: 'link' %}
                      <span>{{ link.title }}</span>
                    </button>
                    <ul class="menu__child">
                      {%- for child_link in link.links -%}
                        <li class="submenu-item {% if child_link.links != blank %} has-grandchildren {% endif %}">
                          <div class="submenu-link">
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                            {%- if child_link.links != blank -%}
                              <button class="toggle-grandchild">
                                {% render 'all-icons', name: 'link' %}
                              </button>
                            {%- endif -%}
                          </div>
                          {%- if child_link.links != blank -%}
                            <div class="grand__submenu glass__bg-full">
                              <button class="back-button grand__child-back">
                                {% render 'all-icons', name: 'link' %}
                                <span>{{ link.title }} / {{ child_link.title }}</span>
                              </button>
                              <ul class="grandchild-menu ul__grand">
                                {%- for grandchild_link in child_link.links -%}
                                  <li>
                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="drawer__utilities"></div>
  </div>
</div>
