{% assign size_chart_object = shop.metaobjects.size_chart.values %}
<style>
  .size__popup{
    .--single-chart {
        padding-block: var(--Spacing-Section-Section-Vertical-Padding, 48px);
    }
  .--top-block {
      /* display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: var(--Spacing-Container-md, 16px); */
      display: grid;
      grid-template: repeat(2,minmax(0,1fr))/ repeat(2,minmax(0,1fr));
      margin-bottom: var(--Spacing-Container-md, 16px);
      /* justify-items: stretch; */
  }
    .--chart-title {
        color: #000;
        font-family: var(--font-family-Title, "Neue Plak");
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    p.--chart-content {
        grid-column: 1/2;
        color: #000;
        font-family: var(--font-family-Body, "Neue Plak");
        font-size: 14px;
        line-height: 18px; /* 133.333% */
        margin-block: 8px 0;
      @media(max-width:600px){
        grid-column: 1/-1;
      }
    }

    .--chart-measurements .--measurement-row:nth-child(odd){
        background: var(--Background-base-subtle, #F3F4F6);
    }
        .--measurement-row {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            text-align: center;
            font-family: var(--font-family-Body, "Neue Plak");
            font-size: 16px;
            text-transform: uppercase;
            line-height: 20px;
            padding-block: var(--Spacing-Container-sm, 16px);
            @media(max-width:600px){
              /* font-size: var(--Font-Size-Paragraph-Regular, 16px);
              line-height: var(--Line-Height-Paragraph-Regular, 24px); */
            }
        }
       .--chart-measurements   .--measurement-heading.--measurement-row {
          background: var(--Background-inverted-main, #1F2937);
          color: var(--Content-Inverted-main, #F3F4F6);
      }


    /* Toggle Styling Start */

   .toggle-container {
              display: flex;
             justify-content: flex-end;
              align-items: center;
              font-family: Arial, sans-serif;
              font-size: 16px;
              @media(max-width: 600px){
                align-items: flex-start;
                grid-column: 2/-1;
                grid-row: 1/2;
              }
          }

          .toggle-label {
              margin: 0 10px;
              color: #000;
              font-family: var(--font-family-Body, "Neue Plak");
              font-size: var(--Font-Size-Paragraph-Regular, 16px);
              line-height: var(--Line-Height-Paragraph-Regular, 20px);
          }

          .toggle-switch {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 24px;
             @media(max-width: 600px){
               width: 30px;
               height: 15px;
               margin-block: 2px;
             }
          }

          .toggle-switch input {
              opacity: 0;
              width: 0;
              height: 0;
          }

          .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #9CA3AF;
              transition: 0.4s;
              border-radius: 12px;
          }

          .slider:before {
              position: absolute;
              content: "";
              height: 18px;
              width: 18px;
              left: 3px;
              bottom: 3px;
              background-color: white;
              transition: 0.4s;
              border-radius: 50%;
             @media(max-width: 600px){
               height: 10px;
                width: 10px;
             }
          }

          input:checked + .slider {
              background-color: #7d8795;
          }

          input:checked + .slider:before {
              transform: translateX(26px);
             @media(max-width: 600px){
               transform: translateX(14px);
             }
          }
  }


   /* Toggle Styling Start */
</style>
<!-- Chart start -->
{% assign chart = shop.metaobjects.size_chart['men-body-measurement'] %}
<div class="--single-chart">
  <div class="--top-block">
    <!-- <div class="--left-content"></div> -->
    <div class="--chart-title">{{ chart.size_chart_type }}</div>
    <p class="--chart-content">{{ chart.content }}</p>

    <div class="toggle-container">
      <span class="toggle-label">IN</span>
      <label class="toggle-switch">
        <input type="checkbox" id="unitToggle" class="--toggle" data-title="{{ chart.size_chart_type }}">
        <span class="slider"></span>
      </label>
      <span class="toggle-label">CM</span>
    </div>
  </div>

  <div class="--chart-measurements">
    <div class="--measurement-heading --measurement-row">
      <div>Size</div>
      <div>Waist</div>
      <div>Chest</div>
      <div>Neck</div>
      <div>Sleeve</div>
    </div>
    {% for x in chart.measurements.value %}
      <div class="--measurement-row --only-values">
        <div>{{ x.size_label }}</div>
        <div>{{ x.waist }}</div>
        <div>{{ x.chest }}</div>
        <div>{{ x.neck }}</div>
        <div>{{ x.sleeve }}</div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- Chart End -->

<!-- Chart start women-body-measurement -->
{% assign chart = shop.metaobjects.size_chart['women-body-measurement'] %}
<div class="--single-chart">
  <div class="--top-block">
    <!-- <div class="--left-content"></div> -->
    <div class="--chart-title">{{ chart.size_chart_type }}</div>
    <p class="--chart-content">{{ chart.content }}</p>

    <div class="toggle-container">
      <span class="toggle-label">IN</span>
      <label class="toggle-switch">
        <input type="checkbox" id="unitToggle" class="--toggle" data-title="{{ chart.size_chart_type }}">
        <span class="slider"></span>
      </label>
      <span class="toggle-label">CM</span>
    </div>
  </div>

  <div class="--chart-measurements">
    <div class="--measurement-heading --measurement-row">
      <div>Size</div>
      <div>Waist</div>
      <div>Chest</div>
      <div>Neck</div>
      <div>Sleeve</div>
    </div>
    {% for x in chart.measurements.value %}
      <div class="--measurement-row --only-values">
        <div>{{ x.size_label }}</div>
        <div>{{ x.waist }}</div>
        <div>{{ x.chest }}</div>
        <div>{{ x.neck }}</div>
        <div>{{ x.sleeve }}</div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- Chart End -->

<!-- Chart start kids-body-measurement -->
{% assign chart = shop.metaobjects.size_chart['kids-body-measurement'] %}
<div class="--single-chart">
  <div class="--top-block">
    <!-- <div class="--left-content"></div> -->
    <div class="--chart-title">{{ chart.size_chart_type }}</div>
    <p class="--chart-content">{{ chart.content }}</p>

    <div class="toggle-container">
      <span class="toggle-label">IN</span>
      <label class="toggle-switch">
        <input type="checkbox" id="unitToggle" class="--toggle" data-title="{{ chart.size_chart_type }}">
        <span class="slider"></span>
      </label>
      <span class="toggle-label">CM</span>
    </div>
  </div>

  <div class="--chart-measurements">
    <div class="--measurement-heading --measurement-row">
      <div>Size</div>
      <div>Waist</div>
      <div>Chest</div>
      <div>Neck</div>
      <div>Sleeve</div>
    </div>
    {% for x in chart.measurements.value %}
      <div class="--measurement-row --only-values">
        <div>{{ x.size_label }}</div>
        <div>{{ x.waist }}</div>
        <div>{{ x.chest }}</div>
        <div>{{ x.neck }}</div>
        <div>{{ x.sleeve }}</div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- Chart End -->
