{% liquid
  assign id = section.id
%}

<style>
    #shopify-section-{{id}} {
      
    }
   #shopify-section-{{id}} {
      box-sizing: border-box;
      margin-top: {{section.settings.margin_top | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
      padding-top: {{section.settings.padding_top | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom | append: 'px'}};           
      background: url("{{ section.settings.bg | image_url: width: section.settings.bg.width }}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #shopify-section-{{id}} {
      .wrapper-{{ id }}{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: var(--Spacing-Container-lg);
        width: 100%;
        {% comment %} max-width: 1080px; {% endcomment %}
        padding: var(--Spacing-Container-xl) 0;
        margin: auto;
        align-items: start;
        @media(max-width: 1200px){
          grid-template-columns: minmax(0,1fr);
          padding: var(--Spacing-Container-xl) 0;
        }
      }
      .content-wrapper{
        @media(max-width: 1200px){
          position: relative;
        }
        @media(max-width: 600px){
          top: unset;
        }
      }
      .content-wrapper--inner{

      }
      .contact--title{
        color: #fff;

        /* Headings/H2 */
        font-family: var(--font-family-Title, Archivo);
        font-size: var(--Font-Size-Heading-H2, 40px);
        font-style: normal;
        font-weight: 500;
        line-height: var(--Line-Height-Heading-H2, 40px); /* 100% */
        letter-spacing: -0.4px;
        text-transform: capitalize;
        margin: 0 0 var(--Spacing-Container-sm, 40px);        
      }
      .contact--subtitle {
        color: #fff;
            max-width: 80%;
        font-family: var(--font-family-Body, Archivo);
        font-size: var(--Font-Size-Paragraph-Regular, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
        margin: 0 0 var(--Spacing-Container-lg, 40px);        
      }
      .contact__block{
      display: flex;
      padding: var(--Spacing-Container-xs, 12px);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Spacing-Container-xxs, 8px);
      align-self: stretch;
      border-radius: 8px;
      background: #FFF;
      }
      .contact__block a {
                color: #fff;
      }
      .contact__block h4 {
        color: #fff;
        font-family: var(--font-family-Body, Archivo);
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px; /* 120% */
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin: 0 0 var(--Spacing-Container-xs) 0;
      }
      .contact__block h3 {
        color: #fff;
        font-family: var(--font-family-Title, Archivo);
        font-size: var(--Font-Size-Heading-H3, 24px);
        font-style: normal;
        font-weight: 500;
        line-height: var(--Line-Height-Heading-H3, 28px); /* 116.667% */
        text-transform: capitalize;
        margin: 0 0 var(--Spacing-Container-xs) 0;
      }
      .contact__block .info {
        color: #fff;

        /* Paragraph/S */
        font-family: var(--font-family-Body, Archivo);
        font-size: var(--Font-Size-Paragraph-Small, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Small, 20px); /* 142.857% */
        margin: 0;
        em {
          font-style: normal;
          display: block;
        }
      }
      /* Contact Form */
      .contact-form-wrapper {
        background: transparent;
        backdrop-filter: blur(8px);
        padding: var(--Spacing-Container-lg);
        border-radius: var(--Spacing-Container-sm);
        border: 1px solid #e5e7eb36;
      }

      .form-status--message{
        color: #fff;
        /* font-family: var(--font-family-Title, "Neue Plak"); */
        font-size: var(--Font-Size-Heading-H4);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Heading-H4); /* 100% */
        letter-spacing: -0.4px;
      }

      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      .field__label {
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
        display: block; /* Ensures label is visible */
      }

      .field__input {
        padding: 10px;
        font-size: 14px;
        transition: border-color 0.3s ease-in-out;
        border-radius: var(--rounded-lg, 8px);
        border: 1px solid #d1d5db4a;    
        color: #FFF;
        background: transparent;
        backdrop-filter: blur(8px);        
      }

      .field__input:focus {
        border-color: rgb(193, 195, 204);
        outline: none;
      }

      .text-area {
        min-height: 120px;
      }

      .contact__button {
        text-align: center;
        margin-top: 10px;
      }

      .button {
        width: 100%;
        cursor: pointer;
        border-radius: 999px;
        background: #fff;
        border: 2px solid rgb(0, 0, 0);
        padding: var(--Spacing-Container-xs, 12px) var(--Spacing-Container-lg, 40px);
        color: #101116;
        text-align: center;
        /* font-family: var(--font-family-Body, "Neue Plak"); */
        font-size: var(--Font-Size-UI-Controls-Control-Button-Regular, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-UI-Controls-Control-Button-Regular, 20px);
        text-transform: capitalize;
        transition: all 0.1s ease-in;
      }
      .button:hover {
        color: #fff;
        background: #101116;
        border: 2px solid rgb(193, 195, 204);
      }
      .field:before {
        content: unset;
      }
      .field:after {
        content: unset;
      }
      .field__label{
        position: static;
        color: #fff;
        /* font-family: var(--font-family-Body, "Neue Plak"); */
        font-size: var(--Font-Size-Paragraph-Regular, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
        @media(max-width: 768px){

        }
      }
      .field__input {
          margin: 0 0 4px 0;
          /* border-bottom: 1px solid #00000054; */
          @media(max-width: 768px){
            /* padding: 0;          */
          }
      }
      .field__input:focus{
        margin: 0 0 4px 0;
        box-shadow: unset;
      }
      .field__input::placeholder {
        opacity: 1;
        color: #fff;
        font-family: var(--font-family-Body, "Neue Plak");
        font-size: var(--Font-Size-Paragraph-Regular, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
      }
      .custom-select {
        position: relative;
        display: inline-block;
        width: 100%; /* or your desired width */

      }

      .custom-select select {
        width: 100%;
        color: rgb(193, 195, 204);
        cursor: pointer;
        /* Paragraph/XS */
        font-family: var(--font-family-Body);
        font-size: var(--Font-Size-Paragraph-Tiny);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Tiny); /* 133.333% */
      }
      .custom-select option {
         color: rgb(193, 195, 204);
        cursor: pointer;
        /* Paragraph/XS */
        font-family: var(--font-family-Body);
        font-size: var(--Font-Size-Paragraph-Tiny);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Paragraph-Tiny); /* 133.333% */
      }
      .custom-select select::focus {
        box-shadow: unset;
      }
      .custom-select::after {
        content: "\25BC"; /* Unicode for down arrow */
        position: absolute;
        right: 10px;
        top: calc(50% + 14px);
        transform: translateY(-50%);
        pointer-events: none; /* Allows clicks to pass through to the select */
        font-size: 12px;
        box-shadow: unset;
        border: 0;
        bottom: unset;
        left: unset;
        color: #000; /* Customize the arrow color */
      }

    }
    .content-wrapper--inner--{{ id }} {
      display: grid;
      gap: var(--Spacing-Container-md, 12px);
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      @media(max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      .card__contact {
        border-radius: 8px;
        border: 1px solid #e5e7eb36;
        background-color: transparent;
        transition: background-color 0.4s ease-in-out;
        padding: var(--Spacing-Container-sm, 16px);
        backdrop-filter: blur(8px);
          img {
              max-width: 32px;
              height: auto;
              aspect-ratio: 1;
          }          
      }   
      .card__contact:hover {
        background-color: #fff;
      }       
      .card__contact:hover *{
        color: #101116;
      }       
      p.subtext {
          margin: 24px 0 8px;
          color: #fff;
      }        
      p.contact__info, p.contact__info a{
      color: #fff;
      font-family: var(--font-family-Title, Archivo);
      font-size: var(--Font-Size-Heading-H4, 20px);
      font-style: normal;
      font-weight: 500;
      line-height: var(--Line-Height-Heading-H4, 24px);
      letter-spacing: -0.4px;
      {% comment %} text-transform: capitalize; {% endcomment %}
      margin: 0;
      white-space: normal;
      overflow-wrap: break-word;
          em {
            font-style: normal;
            display: block;
            @media(max-width: 768px) {
              display: unset;
            }
          }
      }
    }
    @media(max-width: 600px) {
      #shopify-section-{{id}}  {
        margin-top: {{section.settings.margin_top_m | append: 'px'}};
        margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
        padding-top: {{section.settings.padding_top_m | append: 'px'}};
        padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
      }
    }
    @media(min-width: 1200px) {
      .wrapper-{{ id }} .content-wrapper.left{
        grid-column: 2/-1;
        grid-row: 1/-1;
      }
    }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }} ">
      <div class="content-wrapper {% if section.settings.form_align == "left" %}left{% endif %}">
        <h2 class="contact--title">{{ section.settings.text }}</h2>
        <p class="contact--subtitle">{{ section.settings.subtext }}</p>
        <div class="content-wrapper--inner--{{ id }}">
          {% for block in section.blocks %}
            <div class="card__contact">
              {% unless block.settings.icon == blank %}
                {{ block.settings.icon | image_url: width: block.settings.icon.width | image_tag }}
              {% endunless %}
              <p class="subtext">{{ block.settings.text }}</p>
              <p class="contact__info">{{ block.settings.info }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="contact-form-wrapper">
        {%- form 'contact', id: 'ContactForm', class: 'contact-form' -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message form-status--message" tabindex="-1" autofocus>
              {{ 'templates.contact.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body form-status--message" role="alert" tabindex="-1" autofocus>
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large form-status--message" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}

          <!-- Name Field -->
          <div class="field">
            <label for="ContactForm-name" class="field__label">Name</label>
            <input
              class="field__input"
              type="text"
              id="ContactForm-name"
              name="contact[name]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              required
            >
          </div>

          <!-- Email Field -->
          <div class="field">
            <label for="ContactForm-email" class="field__label">Email</label>
            <input
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              required
            >
          </div>

          <!-- Number Field -->
          <div class="field">
            <label for="ContactForm-tel" class="field__label">Phone Number</label>
            <input
              type="tel"
              id="ContactForm-phone"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              {% comment %} placeholder="{{ 'templates.contact.form.phone' | t }}" {% endcomment %}
            >
          </div>

          <!-- Dropdown Field -->
          {% comment %}
            <div class="custom-select field">
              <label class="field__label" for="request-type">Reason for Contacting</label>
              <select class="field__input" id="request-type" name="contact[request_type]">
                <option>Sizing & Product Informatioon</option>
                <option>Wholesale & Partnership Opportunities</option>
                <option>Shipping & Returns</option>
                <option>Order Inquiries & Status</option>
                <option>Other</option>
              </select>
            </div>
          {% endcomment %}

          <!-- Order Field -->
          {% comment %}
            <div class="field">
              <label for="ContactForm-order" class="field__label">Order No.</label>
              <input class="field__input" type="text" name="contact[order_number]" id="order-number">
            </div>
          {% endcomment %}

          <!-- Message Field -->
          <div class="field">
            <label for="ContactForm-body" class="field__label">Message</label>
            <textarea
              rows="5"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[message]"
              placeholder="Type your message..."
              required
            >{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>

          <!-- Submit Button -->
          <div class="contact__button">
            <button type="submit" class="button">Send</button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

<script>
  {% comment %} window.addEventListener('scroll', function () {
    const section = document.querySelector('.sec-{{ id }}');
    if (section) {
      const scrollPosition = window.pageYOffset;
      section.style.backgroundPosition = 'center ' + (scrollPosition * 0.3) + 'px'; 
    }
  }); {% endcomment %}
</script>


{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Section Infos"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Title",
      "default": "Get In Touch"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext"
    },
    {
      "type": "select",
      "id": "form_align",
      "label": "Form Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Phone"
        },
        {
          "type": "inline_richtext",
          "id": "info",
          "label": "Info"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
