{% liquid
  assign id = section.id
%}

<style>
        #shopify-section-{{id}} {
          box-sizing: border-box;
          margin-top: {{section.settings.margin_top | append: 'px'}};
          margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
          padding-top: {{section.settings.padding_top | append: 'px'}};
          padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
          background: #e3e3e36b;
        }

        @media(max-width: 768px) {
          #shopify-section-{{id}} {   
            margin-top: {{section.settings.margin_top_m | append: 'px'}};
            margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
            padding-top: {{section.settings.padding_top_m | append: 'px'}};
            padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
            /* position: sticky;
            top: 0;
            z-index: 9; */
          }
        }
        .sec-{{ id }} {
          position: relative;
          z-index: 5;
          transition: .3s;
        }
        .heading-{{ id }} h2{
          color: var(--Content-Base-main);
          font-family: Urbanist;
          font-size: 42px;
          font-style: normal;
          font-weight: 700;
          line-height: 56px;
        }
        .wrapper-{{id}} {
          display: flex;
          flex-wrap: nowrap;
          gap: 16px;
          padding: var(--Spacing-Container-xs, 12px) 0px;
          {% comment %} justify-content: center; {% endcomment %}
          overflow-x: auto;
          align-items: center;
        }
      .wrapper-{{id}}::-webkit-scrollbar {
      display: none;
      }
      .wrapper-{{id}} {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      }
        a:not([href]) {
            cursor: pointer;
        }
        .btn-{{id}} {
          color: var(--Content-Base-main);
          {% comment %} font-family: var(--font-family-Heading, Gotham); {% endcomment %}
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: var(--Line-Height-Heading-H3, 24px);
          text-transform: uppercase;
          position: relative;
          min-width: fit-content;
          text-decoration: none;
        }
        .btn-{{ id }}:hover:after{
          width: 100%;
        }

         .btn-{{ id }}.active{
          {% comment %} color: white;
          border-bottom: 2px solid var(--Content-Base-main, #1F2937); {% endcomment %}
        }

        .btn-{{id}}:after{
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 0;
          height: 1px;
          background: var(--Content-Base-main);
          transition: all .4s ease;
        }
        .btn-{{id}}.active:after{
          width: 100%;
        }

        .stickyTop {
          position: fixed;
          top: 128px;
          left: 0;
          z-index: 4;
          width: 100%;
          height: max-content;
          {% comment %} background: #162229; {% endcomment %}
           {% comment %} background: #f5ecd5; {% endcomment %}
          {% comment %} box-shadow: 0px 10px 10px 0px rgba(60, 32, 88, 0.08); {% endcomment %}

    background-color: #e3e3e36b;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);


          @media(max-width: 1200px) {
            top: 0;
          }
        }

        .stickyTop .heading-{{ id }} {
          display: none;
        }



        @media(min-width: 769px) {
          /* .stickyTop .wrapper-{{id}} {
            display: flex;
            flex-wrap: nowrap;
            gap: 40px;
            justify-content: center;
          } */

          /* .stickyTop .btn-{{ id }} {
            background: transparent;
            border: none;
            color: #3D4852;
            flex-grow: unset;
            flex-shrink: unset;
            padding: 0;
          } */
          .stickyTop .btn-{{ id }}:hover{
            {% comment %} color: #fff !important;
            filter: unset; {% endcomment %}
          }
          .stickyTop .btn-{{ id }}.active{
            {% comment %} color: #fff !important;
            filter: unset; {% endcomment %}
             color: var(--Content-Base-main) !important;
          }

        }
        @media(max-width: 768px) {
          .wrapper-{{id}} {
            gap: 8px;
            overflow-x: auto;
            overflow-y: hidden;
            /* flex-direction: column; */
          }
          .heading-{{ id }} h2{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
          }
          .stickyTop {
            top: 0;
            bottom: 0;
            width: 100vw;
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
            box-sizing: border-box;
            /* padding: 10px 0; */
            flex-direction: row;
          }
          .stickyTop::-webkit-scrollbar{
            display: none;
          }
          .stickyTop .wrapper-{{id}} {
            flex-direction: row;
          }
          .stickyTop .btn-{{ id }} {
            padding: 0 16px;
            height: 36px;
            line-height: 33px;
            font-size: 14px;
            border-radius: 4px;
            color: #fff;
            border: 2px solid var(--colors-black-500, #212121);
            /* background: #FFF; */
            min-width: max-content;
          }
          .stickyTop .btn-{{ id }}:hover{
            padding: 0 16px;
            height: 36px;
            line-height: 33px;
            font-size: 14px;
            border-radius: 4px;
            color: #fff;
            border: 2px solid var(--colors-black-500, #212121);
            /* background: #FFF; */
            min-width: max-content;
          }
          .stickyTop .btn-{{ id }}.active{
            filter: unset;
            border-color: #004027;
            background: #004027;
            color: #fff;
          }
          .btn-{{ id }}.active:after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 0px;
            background: transparent;
          }
        }

        @media(max-width: 768px) {
          .wrapper-{{id}} {
            display: none;
          }
          .sec--container-{{ section.id }}{
            width: 100%;
          }

          .mobile-dropdown {
            display: block;
            width: 100%;
            padding: 12px;
            /* font-size: 16px; */
            {% comment %} background: #162229; {% endcomment %}
            background: #e3e3e36b;
            border: none;
            border-radius: 4px;
            color: #162229;
            appearance: none; /* Removes default dropdown arrow */
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            {% comment %} background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23FFFFFF"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>'); {% endcomment %}
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23162229"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: 18px;
            cursor: pointer;

            {% comment %} color: var(--Content-Inverted-main, #f3f4f6); {% endcomment %}
            {% comment %} font-family: var(--font-family-Title, Krylon); {% endcomment %}
              color: var(--Content-Base-main, #1F2937);
              font-family: var(--font-family-Body, Gotham);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: var(--Line-Height-Paragraph-Large, 28px);
              transition: all 0.3s;
              text-transform: uppercase;
            min-height: 48px;



          }

          /* For iOS styling */
          .mobile-dropdown:focus {
            outline: none;
            border-color: #00291B;
          }
          .mobile-dropdown:focus-visible {
            outline: unset;
            outline-offset: unset;
            box-shadow: unset;
          }
        }

        @media(min-width: 769px) {
          .sec--container-{{ section.id }}{
            position: relative;
          }
          .mobile-dropdown {
            display: none;
          }
        }

        /* Progress Bar Styles */
        .progress-gift-page-container {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: #757575;
          z-index: 2;
          display: none;
        }

        .progress-bar--gift-page {
          display: block !important;
          width: 0%;
          height: 1px;
          background: #fff;
          transition: width 0.1s linear;
        }
.swiper.swiper--{{section.id }} .swiper-slide {
    max-width: max-content;
}
  .swiper-button-next:after,
        .swiper-button-prev:after {
          content: 'none';
        }
        .sec-{{ id }} .swiper-button-next,.sec-{{ id }} .swiper-button-prev {
            position: relative;
            top: unset;
            left: unset;
            right: unset;
            width: 24px;
            height: 24px;
            margin-top: unset;

            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--swiper-navigation-color, var(--swiper-theme-color));
        }
    #slider-next--{{ section.id }} {

            color: #000;
            width: 24px;
            height: 24px;
            display: flex;
            padding: 8px;
            align-items: center;
            border-radius: var(--rounded-full, 999999px);
            background: #FFF;
            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
            @media(max-width: 600px){

            }
          }
          #slider-next--{{ section.id }} svg{
            width: 16px;
            height: 16px;
          }
         #slider-prev--{{ section.id }}{

            color: #000;
            width: 24px;
            height: 24px;
            display: flex;
            padding: 8px;
            align-items: center;
            border-radius: var(--rounded-full, 999999px);
            background: #FFF;
            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
            @media(max-width: 600px){

            }
         }
         #slider-prev--{{ section.id }} svg{
            width: 16px;
            height: 16px;
         }
</style>

<div class="sec-{{ id }}" id="secondaryNav">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %} sec--container-{{ section.id }}">
    <div class="heading-{{ id }} hidden">
      <h2>{{ section.settings.heading }}</h2>
    </div>
    <div class="wrapper-{{ id }}" id="secondNav">
       <div class="swiper-button-prev" id="slider-prev--{{ section.id }}">
<svg aria-hidden="true" width="6" height="12"  focusable="false" role="presentation" viewBox="0 0 284.49 498.98" class="w-5 h-5 fill-current stroke-current">
                      <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path>
                    </svg>
      </div>
      
      <div class="swiper swiper--{{section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <a
                href="{{ block.settings.url | downcase }}"
                data-id="{{ block.settings.url | downcase | remove: "#" }}"
                class="btn-{{ id }}"
              >
                {{- block.settings.text -}}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-button-next" id="slider-next--{{ section.id }}">
<svg aria-hidden="true" width="6" height="12" focusable="false" role="presentation" viewBox="0 0 284.49 498.98" class="w-5 h-5 fill-current stroke-current">
                      <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path>
                    </svg>
      </div>

     
    </div>

    <!-- Mobile Dropdown -->
    <select class="mobile-dropdown" id="mobileNav">
      {% for block in section.blocks %}
        <option value="{{ block.settings.url | downcase }}">{{ block.settings.text }}</option>
      {% endfor %}
    </select>

    <div class="progress-gift-page-container">
      <div class="progress-bar--gift-page"></div>
    </div>
  </div>
</div>

<script>
  window.onscroll = function () {
    updateProgressBar();
  };

  function updateProgressBar() {
    let scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;
    let scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let progress = (scrollPosition / scrollHeight) * 100;
    console.log(progress);
    document.querySelector('.progress-bar--gift-page').style.width = progress + '%';
  }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var secondaryNav = document.getElementById('secondaryNav');
    var elementPosition = secondaryNav.offsetTop;
    var navSecs = document.querySelectorAll('.shopify-section');
    var navBtns = document.querySelectorAll('#secondNav a');
    var mobileNav = document.getElementById('mobileNav');
    var isSticky = false;
    var buffer = 100; // Buffer zone in pixels

    window.addEventListener('scroll', function () {
      if (!isSticky && window.pageYOffset > elementPosition + buffer) {
        secondaryNav.classList.add('stickyTop');
        isSticky = true;
      } else if (isSticky && window.pageYOffset < elementPosition - buffer) {
        secondaryNav.classList.remove('stickyTop');
        isSticky = false;
      }

      // Rest of your scroll logic for active state handling
      navSecs.forEach(function (secP) {
        if (secP.querySelector('.belongsToNav')) {
          var sec = secP.querySelector('.belongsToNav');
          if (sec.getAttribute('id')) {
            var top = sec.getBoundingClientRect().top + window.pageYOffset - (80 + 48 + 20);
            var height = sec.offsetHeight;
            var wTop = window.pageYOffset;
            var topH = top + height;
            var id = sec.getAttribute('id');

            if (top <= wTop && topH >= wTop) {
              navBtns.forEach(function (btn) {
                var url = btn.getAttribute('data-id');
                if (url === id) {
                  btn.classList.add('active');
                  mobileNav.value = `#${id}`;
                } else {
                  btn.classList.remove('active');
                }
              });
            }
          }
        }
      });
    });

    document.querySelectorAll('#secondNav a').forEach(function (anchor) {
      anchor.addEventListener('click', function (event) {
        event.preventDefault();
        var id = this.getAttribute('href');
        var targetElement = document.querySelector(id);
        var top = targetElement.getBoundingClientRect().top + window.pageYOffset - (80 + 48 + 20);

        document.documentElement.style.scrollBehavior = 'inherit';

        window.scrollTo({
          top: top,
          behavior: 'smooth',
        });

        setTimeout(function () {
          document.documentElement.style.scrollBehavior = 'smooth';
        }, 600);
      });
    });

    // Mobile Dropdown Change Event
    mobileNav.addEventListener('change', function () {
      var target = document.querySelector(this.value);
      if (target) {
        var top = target.getBoundingClientRect().top + window.pageYOffset - (80 + 48 + 20);
        window.scrollTo({ top: top, behavior: 'smooth' });
      }
    });
  });
</script>

<script>
  {% comment %} const slider = document.querySelector('.wrapper-{{ id }}'); {% endcomment %}


  {% comment %} const slider = document.querySelector(".wrapper-{{ id }}");
  let isDown = false;
  let startX;
  let scrollLeft;

  slider.addEventListener("mousedown", (e) => {
    isDown = true;
    slider.classList.add("active");
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  });
  slider.addEventListener("mouseleave", () => {
    isDown = false;
    slider.classList.remove("active");
  });
  slider.addEventListener("mouseup", () => {
    isDown = false;
    slider.classList.remove("active");
  });
  slider.addEventListener("mousemove", (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 1; //scroll-fast
    slider.scrollLeft = scrollLeft - walk;
    console.log(walk);
  }); {% endcomment %}

    document.addEventListener('DOMContentLoaded', function () {
    new Swiper(".swiper--{{section.id }}", {
      slidesPerView: 'auto',
      
      spaceBetween: 16,
      breakpoints: {
        768: {
          slidesPerView: 'auto',
          spaceBetween: 24,
        },
      },
      navigation: {
        nextEl: "#slider-next--{{ section.id }}",
        prevEl: "#slider-prev--{{ section.id }}",
      }
    });
  });
</script>

{% schema %}
{
  "name": "Floating Nav Ryder Cup",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },

    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Floating Nav Ryder Cup"
    }
  ]
}
{% endschema %}
