{% liquid
  assign id = section.id
%}


<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    background-color: transparent;
  }
  .wrapper-{{ id }} .image-wrap video {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 100%;
      min-height: -webkit-fill-available;
    @media(max-width: 768px){
      min-height: 500px;
      height: calc(100svh - 100px);
    }
  }
  .wrapper-{{ id }} .image-wrap img {
    width: 100%;
    object-fit: cover;
  }
  .wrapper-{{ id }} .image-wrap.original img {
    height: auto;
    @media(max-width: 768px) {
      height: auto;
    }
  }
  .wrapper-{{ id }} .image-wrap.custom img {
    height: auto;
    max-height: {{ section.settings.banner_max_height | append:'px' }};
    @media(max-width: 600px) {
      height: 100vh;
          max-height: calc(100vh - 160px);
    }
  }
  .wrapper-{{ id }} .image-wrap.adaptive img {
    height: calc(100vh - 44px);
    /* object-fit: fill; */
    @media(max-width: 1280px) {
      height: 100vh;
    }
    @media(max-width: 768px) {
      /* height: calc(100svh - 146px); */
      height: calc(100svh - 160px);
    }
  }
  .wrapper-{{ id }} .image-wrap.ratio img {
    max-height: calc(100vh - 44px);
    aspect-ratio: 3 / 1;
    @media(max-width: 768px) {
      height: calc(100svh - 160px);
    }
  }
  .wrapper-{{ id }} .block__wrapper {
    position: relative;
  }
  .wrapper-{{ id }} .content__wrapper  {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 64px 0;
    {% comment %} padding: var(--Spacing-Container-xs); {% endcomment %}
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    @media(max-width: 768px) {
      padding: var(--Spacing-Container-sm);
    }
  }
  .wrapper-{{ id }} .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    @media(max-width: 768px) {
      padding: 32px 0;
    }
  }
  .wrapper-{{ id }} .content__info {
    display: flex;
    flex-direction: column;
    @media(max-width: 768px) {
      width: 100%;
    }
  }

  /* css for content customization starts ............................................................*/


  /* css for content customization ends ..................................................... */
  .wrapper-{{ id }} .block__wrapper p.pretitle {
    /* color: var(--Content-Inverted-main, #F3F4F6); */

    /* UI Controls/Contextual/tagline/small */
    {% comment %} font-family: var(--font-family-Body); {% endcomment %}
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 125% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin: 0 0 var(--Spacing-Container-xs) 0 ;
  }
  .wrapper-{{ id }} .block__wrapper h2 {
    color: var(--Content-Inverted-main, #F3F4F6);
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0;
    @media(max-width: 768px) {
      font-size: 36px;
    }
    a {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    {% unless section.settings.disable_linebr %}
    em{
      display: block;
      font-style: normal;
      @media(max-width: 768px) {
        display: unset;
      }
    }
    {% endunless %}
  }
  .wrapper-{{ id }} .block__wrapper h2.heading-medium {
    font-size: 48px;
  }
  .wrapper-{{ id }} .block__wrapper h2.heading-h3 {
    font-size: 42px;
    line-height: var(--Line-Height-Heading-H3, 40px); /* 125% */
  }
  .wrapper-{{ id }} .block__wrapper h2.heading-large {
    font-size: 96px;
    font-family: var(--font-family-Title);
    line-height: 83%;
    @media(max-width: 768px) {
      font-size: 64px;
    }
  }
  .wrapper-{{ id }} .block__wrapper p.subtitle {
    {% comment %} font-family: var(--font-family-Body, Gotham); {% endcomment %}
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Paragraph-Medium, 18px); /* 138.462% */
    font-style: normal;
    font-weight: 400;

    /* margin: 0 0 var(--Spacing-Container-lg) 0 ; */
    margin: 0 0 32px 0 ;
    a{
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    {% unless section.settings.disable_linebr %}
    em{
      display: block;
      font-style: normal;
      @media(max-width: 768px) {
        display: unset;
      }
    }
    {% endunless %}
  }
  .hero_slider__nav_icon {
      width: 40px;
      height: 40px;
      display: flex;
      background: #fff;
      line-height: 1;
      position: absolute;
      top: 50%;
      z-index: 1;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
      cursor: pointer;
     @media(max-width: 768px) {
       display: none;
     }
  }
  .hero_slider__nav_icon svg path {
    stroke: #000;
  }
  .hero_slider__nav_icon.swiper-button-disabled {
      display: none;
  }
  .prev-{{ section.id }}.hero_slider__nav_icon {
    left: 16px;
  }
  .next-{{ section.id }}.hero_slider__nav_icon {
    right: 16px;
  }
  .wrapper-{{ id }} .swiper-pagination {
    display: none;
  }
  .wrapper-{{ id }} .content__wrapper.pagination__padding {
    padding-bottom: 64px;
  }
  .wrapper-{{ id }} .swiper-pagination {
    /* display: block;
    bottom: 2.5px !important; */
    /* display: flex;
    justify-content: right;
    bottom: 12.5px !important;
    padding: 0 var(--Spacing-Container-lg); */
    display: flex;
    justify-content: right;
    bottom: 12.5px !important;
    /* padding: 0 var(--Spacing-Container-lg); */
    left: 50%;
    transform: translateX(-50%);
    @media(max-width: 768px){
      justify-content: center;
    }
   .swiper-pagination-bullet-active {
      background: transparent;
      position: relative;
    }

    .swiper-pagination-bullet {
      width: 60px;
      height: 4px;
      border: 0;
      background: #9a9393;
      margin: 0 4px;
      opacity: 1;
      border-radius: 99px;
      transition: all 0.3s;
      overflow: hidden;
    }

    .autoplay-progress {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 99px;
      width: 60px;
      height: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      stroke-width: 4px; /* Match bullet height */
      stroke: #f3f4f6;
      fill: none;
      stroke-dasharray: 60; /* Match bullet width */
      stroke-dashoffset: calc(60 * (1 - var(--progress)));
    }

    .autoplay-progress span {
      display: none; /* Hide timer text for cleaner look */
    }
    /* .swiper-pagination-bullet {
      width: 60px;
      height: 2px;
      background: #9C9C9C;
      border-radius: 0;
      opacity: 1;
      transition: .4s all ease-in-out;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      /* width: 60px; */
      /* height: 2px; */
      /* background: #fff; */
    /* } */ */
  }

  @media(min-width: 1850px) {
    .wrapper-{{ id }} .swiper-pagination {
      /* padding-inline: 0; */
    }
  }
  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
    .wrapper-{{ id }} .btn__wrapper{
    flex-direction: column;
    display: flex;
    gap: 8px;
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div class="swiper hero_slider__section_wrap_">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% assign image = block.settings.image %}
            {% assign image_mobile = block.settings.image_mobile %}
            {% assign pretitle = block.settings.pretitle %}
            {% assign title = block.settings.title %}
            {% assign subtitle = block.settings.subtitle %}
            {% assign button_label_primary = block.settings.btn_label1 %}
            {% assign button_url_primary = block.settings.btn_url1 %}
            {% assign button_label_secondary = block.settings.btn_label2 %}
            {% assign button_url_secondary = block.settings.btn_url2 %}
            {% assign third_label = block.settings.btn_label3 %}
            {% assign third_url = block.settings.btn_url3 %}
            <div class="swiper-slide">
              {% render 'hero-slider-style', block: block, section: section %}
              <div class="block__wrapper block__wrapper-{{ section.id }}-{{ block.id }}">
                {% if block.settings.media_type == 'image' %}
                  {% if image %}
                    <div class="image-wrap {{ section.settings.banner_height }} {% if image_mobile %}small-hide{% endif %}">
                      {{ image | image_url: width: image.width | image_tag }}
                    </div>
                  {% else %}
                    <div class="image-wrap  {{ section.settings.banner_height }} {% if image_mobile %}small-hide{% endif %}">
                      {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                  {% if image_mobile %}
                    <div class="image-wrap  large-up-hide medium-hide {{ section.settings.banner_height }}">
                      {{ image_mobile | image_url: width: image_mobile.width | image_tag }}
                    </div>
                  {% endif %}
                {% elsif block.settings.media_type == 'video' %}
                  <div class="image-wrap {{ section.settings.banner_height }} ">
                    {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                  </div>
                {% endif %}
                <div class="content__wrapper {% if section.settings.show_pagination %}pagination__padding{% endif %}">
                  {% if block.settings.enable_clickable_slide == true %}
                    <a
                      class="absolute-link"
                      href="
                        {%- if block.settings.clickable_slide_cta == 'primary' -%}
                          {{ block.settings.btn_url1 }}
                        {%- elsif block.settings.clickable_slide_cta == 'secondary' -%}
                          {{ block.settings.btn_url2 }}
                        {%- endif -%}
                      "
                    ></a>
                  {% endif %}

                  
                  <div class="content page-width {{ block.settings.content_position }} mobile-{{ block.settings.content_position_m }}">
                    <div class="content__info">
                      {% if pretitle != blank %}
                        <p class="pretitle info-{{ block.id }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }}">
                          {{ pretitle }}
                        </p>
                      {% endif %}
                      {% if title != blank %}
                        <h2 class="info-{{ block.id }} heading-{{ block.settings.heading_size }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }}">
                          {{ title }}
                        </h2>
                      {% endif %}
                      {% if subtitle != blank %}
                        <p
                          {% if block.settings.subtitle_width != blank %}
                            style="max-width: {{ block.settings.subtitle_width }}px; {% if block.settings.info_align == 'center' %} margin-inline: auto; {% endif %}"
                          {% endif %}
                          class="subtitle info-{{ block.id }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }} {% if section.settings.hide_subtitle %} desktop__only{% endif %}"
                        >
                          {{ subtitle }}
                        </p>
                      {% endif %}
                      {% if button_label_primary != blank or button_label_secondary != blank %}
                        <div class="btn__wrapper justify-{{ block.settings.info_align }} mobile-justify-{{ block.settings.info_align_m }}">
                          {% if button_label_primary != blank %}
                            <a class="button {% if block.settings.selected_btn == 'first' %}--print-selcted-btn{% endif %}" href="{{ button_url_primary }}">{{ button_label_primary }}</a>
                          {% endif %}
                          {% if button_label_secondary != blank %}
                            <a class="button {% if block.settings.selected_btn == 'secound' %}--print-selcted-btn{% endif %}" href="{{ button_url_secondary }}">{{ button_label_secondary }}</a>
                          {% endif %}
                          {% if third_label != blank %}
                            <a class="button {% if block.settings.selected_btn == 'third' %}--print-selcted-btn{% endif %}" href="{{ third_url }}">{{ third_label }}</a>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if section.settings.show_pagination %}
          <div class="swiper-pagination page-width"></div>
          {% if section.settings.enable_autoslide %}
            <div class="autoplay-progress">
              <svg viewBox="0 0 60 2">
                <line x1="0" y1="1" x2="60" y2="1"></line>
              </svg>
              <span></span>
            </div>
          {% endif %}
        {% endif %}
        {% if section.settings.show_arrow %}
          <div class="prev-{{ section.id }} hero_slider__nav_icon">
            {% render 'all-icons', name: 'left_arrow' %}
          </div>
          <div class="next-{{ section.id }} hero_slider__nav_icon">
            {% render 'all-icons', name: 'right_arrow' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const progressLine = document.querySelector(".wrapper-{{ id }} .autoplay-progress svg");
    const progressContent = document.querySelector(".wrapper-{{ id }} .autoplay-progress span");    
    const heroSwiper = new Swiper(".wrapper-{{ id }} .swiper", {
      slidesPerView: 1,
      loop: false,
      autoHeight: true,
      pagination: {
        el: ".wrapper-{{ id }} .swiper-pagination",
        clickable: true,
      },
      autoHeight: true,
      navigation: {
        nextEl: '.next-{{ section.id }}',
        prevEl: '.prev-{{ section.id }}'
      },
      {% if section.settings.enable_autoslide %}
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
      {% endif %}
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressLine.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      },      
      effect: "fade"
    });
    const autoPlayPagination = () => {
        const autoplayProgress = document.querySelector(".wrapper-{{ id }} .autoplay-progress");
        const bulletActive = document.querySelector(".wrapper-{{ id }} .swiper-pagination-bullet-active");
        bulletActive.appendChild(autoplayProgress);
        bulletActive.style.position = "relative";
        autoplayProgress.style.position = "absolute";
        autoplayProgress.style.top = "0";
        autoplayProgress.style.left = "0";
        autoplayProgress.style.width = "100%";
        autoplayProgress.style.height = "100%";
    }    
    // Call autoPlayPagination synchronously with Swiper initialization
    autoPlayPagination();

    // Call autoPlayPagination when the slide changes
    heroSwiper.on('slideChange', function () {
      autoPlayPagination();
    });    
  });
</script>

{% schema %}
{
  "name": "Hero Slider Custom Print",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disable_linebr",
      "label": "Enable Italic Style",
      "default": false
    },       
    {
      "type": "checkbox",
      "id": "hide_subtitle",
      "label": "Hide Subtitle On Mobile"
    },
    {
      "type": "header",
      "content": "Banner Content Postion"
    },

    {
      "type": "select",
      "id": "banner_height",
      "label": "Banner Height",
      "info": "Select Adapitive To Showcase The Banner Within The Viewport For Desktop",
      "options": [
        {
          "value": "adaptive",
          "label": "Adaptive"
        },
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "custom",
          "label": "Custom"
        },
        {
          "value": "ratio",
          "label": "Ratio 3/1"
        }
      ],
      "default": "adaptive"
    },
    {
      "type": "range",
      "id": "banner_max_height",
      "min": 50,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "label": "Banner Max Height",
      "default": 500,
      "info" : "Set Banner Height as Custom to use this feature "
    },
    {
      "type": "checkbox",
      "id": "enable_autoslide",
      "label": "Enable Auto slide",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show Arrow Slider",
      "default": true,
      "info": "Only Applicable For Desktop"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "header",
          "content": "Media"
        },     
        {
          "type": "select",
          "id": "media_type",
          "label": "Media Type",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            }
          ],
          "default": "image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Banner Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Overlay Opacity",
          "default": 100
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Banner Image (Mobile)"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity_m",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Overlay Opacity (Mobile)",
          "default": 100
        },
        {
          "type": "header",
          "content": "Content Positions"
        },

        {
          "type": "select",
          "id": "content_position",
          "label": "Content Position",
          "options": [
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "top_center",
              "label": "Top Center"
            },
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "middle_center",
              "label": "Middle Center"
            },
            {
              "value": "middle_right",
              "label": "Middle Right"
            },
            {
              "value": "middle_left",
              "label": "Middle Left"
            },
            {
              "value": "bottom_left",
              "label": "Botttom Left"
            },
            {
              "value": "bottom_center",
              "label": "Botttom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            },
            {
              "value": "top_space_between",
              "label": "Top Spacebetween"
            },
            {
              "value": "middle_space_between",
              "label": "Middle Spacebetween"
            },
            {
              "value": "bottom_space_between",
              "label": "Bottom Spacebetween"
            }
          ],
          "default": "bottom_center"
        },
        {
          "type": "select",
          "id": "content_position_m",
          "label": "Content Position (Mobile)",
          "options": [
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "top_center",
              "label": "Top Center"
            },
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "middle_center",
              "label": "Middle Center"
            },
            {
              "value": "middle_right",
              "label": "Middle Right"
            },
            {
              "value": "middle_left",
              "label": "Middle Left"
            },
            {
              "value": "bottom_left",
              "label": "Botttom Left"
            },
            {
              "value": "bottom_center",
              "label": "Botttom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color__info",
          "label": "Text Color",
          "default": "#F3F4F6"
        },
        {
          "type": "color",
          "id": "color__info_m",
          "label": "Text Color (Mobile)",
          "default": "#F3F4F6"
        },
        {
          "type": "select",
          "id": "info_align",
          "label": "Info Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "info_align_m",
          "label": "Info Align (Mobile)",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Info",
          "info": "Use <italics> To Create A Line Break, Applicable Only On Desktop."
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre Title",
          "default": "Pre Title",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading Size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "medium"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Heading",
          "default": "Heading",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Banner Description",
          "default": "Banner Description",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "text",
          "id": "subtitle_width",
          "label": "Subtitle Width"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "checkbox",
          "id": "enable_clickable_slide",
          "label": "Enable Clickable Slide",
          "default": false
        },
        {
          "type": "select",
          "id": "clickable_slide_cta",
          "label": "Clickable Slide CTA",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "btn_label1",
          "label": "Button Label Primary",
          "default": "Shop Men's"
        },
        {
          "type": "url",
          "id": "btn_url1",
          "label": "Button Url Primary"
        },
        {
          "type": "inline_richtext",
          "id": "btn_label2",
          "label": "Button Label Secondary",
          "default": "Shop Women's"
        },
        {
          "type": "url",
          "id": "btn_url2",
          "label": "Button Url Secondary"
        },
        {
          "type": "inline_richtext",
          "id": "btn_label3",
          "label": "Button 3",
          "default": "Shop Women's"
        },
        {
          "type": "url",
          "id": "btn_url3",
          "label": "Button 3 Url"
        },
        {
          "type": "select",
          "id": "selected_btn",
          "label": "Selected Button",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "first",
              "label": "First"
            },
            {
              "value": "secound",
              "label": "Secound"
            },
            {
              "value": "third",
              "label": "Third"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button Color",
          "default": "#F3F4F6"
        },
        {
          "type": "color",
          "id": "btn_bgcolor",
          "label": "Button Background Color"
        },
        {
          "type": "liquid",
          "id": "custom_css",
          "label": "Custom CSS"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider Custom Print",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
