{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }

  @media(max-width: 600px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
  #shopify-section-{{id}} {
    .blog-articles-container{
      display: grid;
      grid-template-columns: repeat(2 , minmax(0,1fr));
      gap: var(--Spacing-Container-lg, 40px) var(--Spacing-Container-md, 24px);
      @media(max-width: 768px){
        grid-template-columns: minmax(0,1fr);
      }
    }
    .blog-articles__wrapper{
      display: flex;
      flex-direction: column;
      gap: var(--Spacing-Container-xs, 12px);
    }
    .img-wrapper img{
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1.148 / 1;
      border-radius: var(--rounded-lg, 8px);
    }
    .top--container{
      display: flex;
      justify-content: space-between;
    }
    .tag-badge{
      color: var(--Content-Base-main, #1F2937);
      border-radius: 24px;
      /* font-family: var(--font-family-Body, "Neue Plak"); */
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }
    .circle-divider{
      color: var(--Content-Base-main, #1F2937);
      /* font-family: var(--font-family-Body, "Neue Plak"); */
      font-size: var(--Font-Size-Paragraph-Regular, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
    }
    .card__heading{
      margin: 12px 0;
    }
    .full-unstyled-link{
      color: var(--Content-Base-main, #1F2937);
      /* font-family: var(--font-family-Title, "Neue Plak"); */
      font-size: var(--Font-Size-Heading-H3, 24px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Heading-H3, 28px); /* 116.667% */
    }
    .article-card__excerpt{
      overflow: hidden;
      color: var(--Content-Base-main, #1F2937);
      text-overflow: ellipsis;
      /* font-family: var(--font-family-Body, "Neue Plak"); */
      font-size: var(--Font-Size-Paragraph-Regular, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div class="blog-articles-container">
        {%- for block in section.blocks -%}
          {% assign article = block.settings.article %}
          <div class="blog-articles__wrapper">
            <a href="{{ article.url }}" class="full-unstyled-link">
              <div class="img-wrapper">
                {% if article.image.src != null %}
                  {{ article.image.src | image_url: width: article.image.src.width | image_tag: class: 'blog-img' }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
            </a>

            <div class="card__content">
              <div class="top--container">
                <div class="card__badge">
                  {% if section.settings.show_tags == true %}
                    {% for tag in article.tags %}
                      <span class="badge tag-badge">{{ tag }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="card__badge">
                  {% if section.settings.show_date == true %}
                    <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="card__information">
                <h3 class="card__heading">
                  <a href="{{ article.url }}" class="full-unstyled-link">
                    {{ article.title | escape }}
                  </a>
                </h3>
                <div class="article-card__info caption-with-letter-spacing h5">
                  {% if section.settings.show_author == true %}
                    <span>{{ article.author }}</span>
                  {% endif %}
                </div>
                <div class="article-content-wrapper">
                  <p class="article-card__excerpt rte-width">
                    {{ article.content | strip_html | truncatewords: section.settings.words }}
                  </p>
                </div>
                <!--
                  <div class="article-card__footer">
                    {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                      <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                    {%- endif -%}
                  </div>
                -->
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog Posts",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show Author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show Tags",
      "default": true
    },
    {
      "type": "number",
      "id": "words",
      "label": "Words to show in content",
      "default": 40
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name" : "Blog",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Posts"
    }
  ]
}
{% endschema %}
