{% comment %}
  ---------------------
{% endcomment %}

{% liquid
  assign id = section.id
  assign select_variant_image_id = product.selected_or_first_available_variant.featured_media.id
%}

{% comment %} {% liquid
  assign id = section.id

  for option in product.options_with_values
    if option.name == 'Color' or option.name == 'color' or option.name == 'COLOR'
      assign color_option = 'option' | append: option.position
    endif
  endfor
  assign selected_color = product.selected_or_first_available_variant[color_option] | downcase
  assign is_selected_variant = product.selected_or_first_available_variant.id

  assign is_alt_text = false
  for media in product.media
    assign alt_txt = media.alt | split: '#' | first | strip | downcase
    if alt_txt == selected_color
      assign is_alt_text = true
    endif
  endfor
%} {% endcomment %}

{% liquid
  assign id = section.id


  assign color_option = 'option1' 
  assign selected_color = product.selected_or_first_available_variant[color_option] | downcase
  assign is_selected_variant = product.selected_or_first_available_variant.id

  assign is_alt_text = false
  for media in product.media
    assign alt_txt = media.alt | split: '#' | first | strip | downcase
    if alt_txt == selected_color
      assign is_alt_text = true
    endif
  endfor
%}


{% liquid

%}
{% for option in product.options_with_values %}
  {% if option.name == 'Size' or option.name == 'size' %}
    {% if product.selected_or_first_available_variant.metafields.custom.model_info != blank %}
      {% assign size_value = '' %}
      {% assign has_model_info = false %}
      {% for inner_option in product.options_with_values %}
        {% if inner_option.name == 'Size' or inner_option.name == 'size' %}
          {% assign size_value = product.selected_or_first_available_variant.options[forloop.index0] %}
        {% endif %}
      {% endfor %}
      {% if size_value != '' %}
        {% assign has_model_info = true %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    max-width: 100vw;
    overflow: hidden;
  }

  @media(max-width: 1200px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
</style>

<div id="main-product-information" data-id="{{ section.id }}" data-selected-image-id="{{ select_variant_image_id }}">
  <product-information
    data-section-id="{{ section.id }}"
    data-update-url="true"
    data-product-id="{{ product.id }}"
    data-url="{{ product.url }}"
    data-selected-image="{{ product.selected_or_first_available_variant.featured_media.id }}"
  >
    {{ 'product-information-v2.css' | asset_url | stylesheet_tag }}
    <div class="p-info-container">
      <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
        <div class="p-info-wrapper">
          <div class="p-info-media">
            <div class="p-info-sliders">
              {% assign title_lc = product.title | downcase %}
              <div
                class="swiper p-info-thumb  {{ product.selected_or_first_available_variant.title }}"
                {% if product.media.size == 1 and title_lc contains 'gift' %}
                  data-single-slide="true"
                {% endif %}
              >
                <div class="swiper-wrapper">
                  {% if product.media.size == 1 %}
                    {% assign loop_count = 5 %}
                    {% if title_lc contains 'gift' %}
                      {% assign loop_count = 1 %}
                    {% endif %}
                    {% if product.template_suffix == 'custom-logo-product' %}
                      {% assign loop_count = 1 %}
                    {% endif %}

                    {% for i in (1..loop_count) %}
                      <div class="swiper-slide p-info-thumb-slide" data-image-id="" data-index="0">
                        <picture class="p-info-thumb-pic">
                          <source
                            media="(max-width: 600px)"
                            srcset="{{ product.featured_image | image_url: width: 600 }}"
                          >
                          <source
                            media="(max-width: 1024px)"
                            srcset="{{ product.featured_image | image_url: width: 1024 }}"
                          >
                          {{ product.featured_image | image_url: width: product.featured_image.width | image_tag }}
                        </picture>
                      </div>
                    {% endfor %}
                  {% else %}
                    {% liquid
                      assign featured_media_id = product.selected_or_first_available_variant.featured_media.id
                      assign start_index = 0
                      for m in product.media
                        if m.id == featured_media_id
                          assign start_index = forloop.index0
                          break
                        endif
                      endfor
                      assign end_index = start_index | plus: 3
                    %}

                    {% assign media_count = 0 %}
                    {% for media in product.media %}
                      {% liquid
                        assign alt_text = media.alt | split: '#' | first | strip | downcase
                        if forloop.first and product.selected_or_first_available_variant.featured_media != blank and media.media_type == 'image'
                          assign media = product.selected_or_first_available_variant.featured_media
                        endif
                      %}
                      {% if is_alt_text and alt_text == selected_color and is_selected_variant != blank %}
                        {% assign media_count = media_count | plus: 1 %}
                        <div
                          class="swiper-slide p-info-thumb-slide"
                          data-image-id="{{ media.id }}"
                          data-index="{{ forloop.index0 }}"
                        >
                          <picture class="p-info-thumb-pic">
                            <source media="(max-width: 600px)" srcset="{{ media | image_url: width: 500 }}">
                            <source media="(max-width: 1024px)" srcset="{{ media | image_url: width: 1024 }}">
                            {{ media | image_url: width: media.width | image_tag }}
                          </picture>
                        </div>
                      {% endif %}
                      {% if is_alt_text == false or is_selected_variant == blank %}
                        {% if forloop.index0 >= start_index and forloop.index0 <= end_index %}
                          {% assign media_count = media_count | plus: 1 %}
                          <div
                            class="swiper-slide p-info-thumb-slide"
                            data-image-id="{{ media.id }}"
                            data-index="{{ forloop.index0 }}"
                          >
                            <picture class="p-info-thumb-pic">
                              <source media="(max-width: 600px)" srcset="{{ media | image_url: width: 500 }}">
                              <source media="(max-width: 1024px)" srcset="{{ media | image_url: width: 1024 }}">
                              {{ media | image_url: width: media.width | image_tag }}
                            </picture>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% liquid
                      assign featured_media_id = product.selected_or_first_available_variant.featured_media.id
                      assign start_index = 0
                      for m in product.media
                        if m.id == featured_media_id
                          assign start_index = forloop.index0
                          break
                        endif
                      endfor
                      assign end_index = start_index | plus: 3
                    %}

                    {% for media in product.media %}
                      {% liquid
                        assign alt_text = media.alt | split: '#' | first | strip | downcase
                        if forloop.first and product.selected_or_first_available_variant.featured_media != blank and media.media_type == 'image'
                          assign media = product.selected_or_first_available_variant.featured_media
                        endif
                      %}
                      {% if is_alt_text and alt_text == selected_color and is_selected_variant != blank %}
                        {% assign media_count = media_count | plus: 1 %}
                        <div
                          class="swiper-slide p-info-thumb-slide"
                          data-image-id="{{ media.id }}"
                          data-index="{{ forloop.index0 }}"
                        >
                          <picture class="p-info-thumb-pic">
                            <source media="(max-width: 600px)" srcset="{{ media | image_url: width: 500 }}">
                            <source media="(max-width: 1024px)" srcset="{{ media | image_url: width: 1024 }}">
                            {{ media | image_url: width: media.width | image_tag }}
                          </picture>
                        </div>
                      {% endif %}
                      {% if is_alt_text == false or is_selected_variant == blank %}
                        {% if forloop.index0 >= start_index and forloop.index0 <= end_index %}
                          {% assign media_count = media_count | plus: 1 %}
                          <div
                            class="swiper-slide p-info-thumb-slide"
                            data-image-id="{{ media.id }}"
                            data-index="{{ forloop.index0 }}"
                          >
                            <picture class="p-info-thumb-pic">
                              <source media="(max-width: 600px)" srcset="{{ media | image_url: width: 500 }}">
                              <source media="(max-width: 1024px)" srcset="{{ media | image_url: width: 1024 }}">
                              {{ media | image_url: width: media.width | image_tag }}
                            </picture>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="thumb-slide-control">
                  <!-- Add Navigation Buttons -->
                  <div class="thumb-slide-nav">
                    <div class="swiper-button-prev">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        class="_icon_1iijs_255"
                        aria-hidden="true"
                      >
                        <path d="m4.707 12.5 4.147 4.146-.707.708L2.793 12l5.354-5.354.707.708L4.707 11.5H21v1H4.707Z"></path>
                      </svg>
                    </div>
                    <div class="swiper-button-next">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        class="_icon_1iijs_255"
                        aria-hidden="true"
                      >
                        <path d="m19.293 11.5-4.147-4.146.708-.708L21.207 12l-5.353 5.354-.708-.707 4.147-4.147H3v-1h16.293Z"></path>
                      </svg>
                    </div>
                  </div>
                  <!-- Add Pagination Counter -->
                  <div class="thumb-slide-pagination">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                {% if product.metafields.custom.outfit_products.value != blank %}
                  <a href="#faq__wrapp--container" class="style--with--link-btn">Style With</a>
                {% endif %}
              </div>
              <div class="p-info-gallery"></div>
              {% if product.metafields.custom.action_video != blank %}
                {% render 'see-action', product: product, has_model_info: has_model_info %}
              {% endif %}
              {% for option in product.options_with_values %}
                {% render 'model-info', product: product, option: option, class: 'mbl-model' %}
              {% endfor %}
            </div>
          </div>

          <div class="p-info-content">
            <div class="p-info-conent-wrapper">
              <div class="p-info-top info-bg">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% comment %} {% when '@app' %}
                      <div class="p-info-app-block mb">{% render block %}</div> {% endcomment %}
                    {% when 'breadcumb' %}
                      {% render 'p-info-breadcumb', product: product, block: block %}
                    {% when 'richtext' %}
                      <div class="p-info-richtext {% if block.settings.enable_mb %}mb{% endif %} {% if block.settings.enable_bb %}bb{% endif %}">
                        {{ block.settings.richtext }}
                      </div>
                    {% when 'collections' %}
                      {% render 'collections', block: block, product: product %}
                    {% when 'inventory' %}
                      {% render 'inventory-status', product: product, block: block, section: section %}
                    {% when 'variant-picker' %}
                      {% render 'p-info-variant-picker-v2', product: product, section: section, block: block %}
                    {% when 'buy-button' %}
                      {% render 'p-info-buy-button', product: product, block: block %}
                    {% when 'model_info' %}
                      {% for option in product.options_with_values %}
                        {% render 'model-info',
                          product: product,
                          option: option,
                          block: block,
                          class: 'desktop-model'
                        %}
                      {% endfor %}
                    {% when 'richtext' %}
                      {% render 'p-info-richtext', section: section, product: product, block: block %}
                    {% when 'title' %}
                      <h1 class="p-info-title {{ class }} {% if block.settings.enable_mb %}mb{% endif %} {% if block.settings.enable_bb %}bb{% endif %}">
                        {{ product.title }}
                      </h1>
                    {% when 'price' %}
                      <div class="p-info-price-wrapper {{ class }} {% if block.settings.enable_mb %}mb{% endif %} {% if block.settings.enable_bb %}bb{% endif %}">
                        <div class="p-info-price">
                          {% if product.selected_or_first_available_variant.price
                              < product.selected_or_first_available_variant.compare_at_price
                          %}
                            {% comment %} Calculate the discount amount {% endcomment %}
                            {% assign discount_amount = product.selected_or_first_available_variant.compare_at_price
                              | minus: product.selected_or_first_available_variant.price
                            %}

                            <p class="p-info-rgular-price">
                              {{ product.selected_or_first_available_variant.price | money }}
                            </p>
                            <p class="p-info-compare-price">
                              <s>{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>
                            </p>
                            <p class="p-info-discount">({{ discount_amount | money }} off)</p>
                          {% else %}
                            <p class="p-info-rgular-price">
                              {{ product.selected_or_first_available_variant.price | money }}
                            </p>
                          {% endif %}
                        </div>
                        {% for block in section.blocks %}
                          {% if block.type == '@app' %}
                            <div class="p-info-app-block ">{% render block %}</div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% when 'short_desc' %}
                      {% if product.metafields.custom.short_description != blank %}
                        <div class="p-short-desc {% if block.settings.enable_mb %}mb{% endif %} {% if block.settings.enable_bb %}bb{% endif %}">
                          <p>{{ product.metafields.custom.short_description }}</p>
                        </div>
                      {% endif %}
                    {% when 'product_badge' %}
                      {% render 'pinfo-badge', product: product, block: block %}
                    {% when 'gender' %}
                      {% render 'pinfo-gender', block: block, product: product %}
                    {% when 'fabric_features' %}
                      {% render 'pinfo-fabric-features', block: block, product: product %}
                    {% when 'view_details_btn' %}
                      {% if product.template_suffix != 'gift-card' %}
                        {% render 'view-product-details-btn', block: block, product: product %}
                      {% endif %}
                    {%- when 'embroider_notice' -%}
                      {% if product.tags contains 'EMBROIDER' or product.tags contains 'Ryder Cup 2025' %}
                        <div class="--embroidery-message-container">
                          {%- render 'custom-embroidery-message', product: product -%}
                        </div>
                      {% endif %}
                  {% endcase %}
                {% endfor %}

                {% if product.metafields.custom.collections != blank %}
                  <div class="p-collections">
                    <ul>
                      {% for collection in product.metafields.custom.collections.value %}
                        {% if collection %}
                          {% assign is_active = false %}
                          {% for product_collection in product.collections %}
                            {% if product_collection.id == collection.id %}
                              {% assign is_active = true %}
                            {% endif %}
                          {% endfor %}
                          <li>
                            <a href="{{ collection.url }}" class="{% if is_active %}active{% endif %}">
                              {{- collection.title -}}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
              {% render 'p-info-info', section: section, product: product %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="application/json-{{ product.id }}">
      {{ product | json }}
    </script>
  </product-information>
</div>
<script>
  // Added By Yeasin
  window.productVariants = {{ product.variants | json }};
</script>

{% schema %}
{
  "name": "Product Information V2",
  "templates": ["product"],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fabric_features",
      "name": "Fabric Features",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "view_details_btn",
      "name": "View Details Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "view product details"
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "breadcumb",
      "name": "BreadCumb",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "product_badge",
      "name": "Product Badge",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "model_info",
      "name": "Model Info",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory Status",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "short_desc",
      "name": "Short Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "gender",
      "name": "Gender",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "collections",
      "name": "Collections",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_review",
          "label": "Show Review",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "variant-picker",
      "name": "Variant Picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "size_guide",
          "label": "Show Size Guide",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "buy-button",
      "name": "Buy Button",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "label": "Show Dynamic Checkout",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "richtext",
          "label": "Richtext",
          "id": "richtext"
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    },
    {
      "type": "embroider_notice",
      "name": "Embroidery Notice",
      "limit": 1,
      "settings": []
    },
    {
      "type": "info",
      "name": "Info",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "inline_richtext",
          "label": "Inline Richtext",
          "id": "inline_richtext"
        },
        {
          "type": "richtext",
          "label": "Richtext",
          "id": "richtext"
        },
        {
          "type": "textarea",
          "id": "textarea",
          "label": "Textarea"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        },
        {
          "type": "checkbox",
          "id": "enable_mb",
          "label": "Margin Bottom?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_bb",
          "label": "Enable separate line?",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
