{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    .page-width {
      max-width: 1020px;
      height: 640px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }

  #shopify-section-{{id}} {
    .wrapper-{{ id }}{
      display: flex;
      flex-direction: column;
      gap: var(--Spacing-Container-md);
    }
    .text-block-wrapper{
      display: flex;
      flex-direction: column;
      gap: var(--Spacing-Container-xs);
      {% if section.settings.text_width %}
        width: 50%;
      {% endif %}
      @media(max-width: 768px){
        width: 100%;
      }
    }
    .title{
      color: var(--Content-Base-main, #1F2937);
      /* font-family: var(--font-family-Title, "Neue Plak"); */
      font-size: var(--Font-Size-Heading-H2, 40px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Heading-H2, 40px);
      letter-spacing: -0.4px;
      margin: 0;
      @media(max-width: 768px){
        letter-spacing: -0.24px;
      }
    }
    .text-block-wrapper h4{
      color: var(--Content-Base-main, #1F2937);
      /* font-family: var(--font-family-Title, "Neue Plak"); */
      font-size: var(--Font-Size-Heading-H4, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Heading-H4, 24px);
      letter-spacing: -0.4px;
      margin: 0;
      @media(max-width: 768px){
        letter-spacing: -0.32px;
      }
    }
    .text-block-wrapper p{
      color: var(--Content-Base-main, #1F2937);
      /* font-family: var(--font-family-Body, "Neue Plak"); */
      font-size: var(--Font-Size-Paragraph-Small, 18px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Small, 26px);
      margin: 0;
    }
    .img-wrapper img{
      width: 100%;
      height: auto;
      object-fit: cover;
      /* border-radius: var(--rounded-2xl, 16px); */
    }
    .desktop-img{
      @media(max-width: 768px){
        display: none;
      }
    }
    .mbl-img{
      display: none;
      @media(max-width: 768px){
        display: block;
      }
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      {% for block in section.blocks %}
        {% if block.type == 'text_block' %}
          <div class="text-block-wrapper">
            {% if block.settings.title != blank %}
              <h2 class="title">{{ block.settings.title }}</h2>
            {% endif %}
            {% if block.settings.des != blank %}
              {{ block.settings.des }}
            {% endif %}
          </div>
        {% elsif block.type == 'image' %}
          <div class="img-wrapper">
            {% if block.settings.image != null %}
              {{
                block.settings.image
                | image_url: width: block.settings.image.width
                | image_tag: class: 'desktop-img'
              }}
            {% endif %}
            {% if block.settings.image_mbl != null %}
              {{
                block.settings.image_mbl
                | image_url: width: block.settings.image_mbl.width
                | image_tag: class: 'mbl-img'
              }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rainwear Table",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "text_width",
      "label": "Text Section Half Width",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mbl",
          "label": "Mobile Image"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "des",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rainwear Table"
    }
  ]
}
{% endschema %}
